<div class="row">
    <%= render 'shared/sidenav' %>

    <div class="col s12 m12 l12 custum-body-dashboard">
        <div class="container">

        <% if @subscriptions == [] %>
            <h4>Você não encontra-se inscrito em um Curso </h4>
        <% else %>  
           
            <table>
                <thead>
                    <tr>
                    <th>Classcourse</th>
                    <th>Description</th>
                    <th>Data</th>
                    <th colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @subscriptions.each do |subscription| %>
                    <tr>
                        <td><%= truncate(subscription.classcourse.name, length: 30, separator: '') %></td>
                        <td><%= truncate(subscription.description, length: 10, separator: '') %></td>
                        <td><%= subscription.created_at %></td>
                        
                        <td><%= link_to 'Abrir', subscription %></td>
                    </tr>
                    <% end %>
                </tbody>
                </table>
                
                <div class="row">
                    <div class="container">
                        <div class="col s12 m12 l12">
                        <div class="center-align">
                            <%= will_paginate @subscriptions %>
                        </div>
                        </div>
                    </div>
                </div>

            <% end %>  
        </div>               
    </div>
</div>