<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <li><%= link_to 'Categorias de cursos', categories_path %></li>
    <li><%= link_to 'Cursos', courses_path %></li>
    <li><%= link_to 'Formadores', formers_path %></li>
    <li><%= link_to 'Turmas', classcourses_path %></li>
    <li><%= link_to 'Inscrições', subscriptions_path %></li>
</ul>