<ul id="slide-out" class="sidenav sidenav-fixed  blue lighten-2 white-text">
    <div class="center-align">
      <h3>CLESE</h3>
      <h4 class="edit-text">UÍGE</h4>
    </div>
    <li class="divider" tabindex="-1"></li>

    <li><a class="dropdown-trigger white-text" href="#!" data-target="dropdown2">Dropdown<i class="material-icons right white-text">arrow_drop_down</i></a></li>
      <ul id='dropdown2' class='dropdown-content'>
        <li><a href="#!">First</a></li>
        <li><a href="#!">Second</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">Third</a></li>
        <li><a href="#!">Fourth</a></li>
      </ul>
    

    <li><%= link_to 'Categorias de cursos', categories_path, class: 'white-text' %></li>
    <li><%= link_to 'Cursos', courses_path, class: 'white-text' %></li>
    <li><%= link_to 'Formadores', formers_path, class: 'white-text' %></li>
    <li><%= link_to 'Turmas', classcourses_path, class: 'white-text' %></li>
    <li><%= link_to 'Inscrições', subscriptions_path, class: 'white-text' %></li>
</ul>