<section>
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag 'background.jpg', class: '' %>
    </div>
  </div>

  <div class="section white">
    <div class="row container">
      <h4 class="header">Inscreva-te</h4>
      <p class="grey-text text-darken-3 lighten-3">Veja os cursos mais procurados no mercado sem muitos custos adicionais e com rápido acesso. Estamos cada vez mais perto de si, realize a sua escolha de curso nas opções que seguem a baixo e faça a inscrição Online aqui na nossa página para garantir o seu acesso a formação profissional que desejas.</p>
      <p class="grey-text text-darken-3 lighten-3">Você tem mais oportunidades com <strong>CLESE-Uíge</strong> a produzir e a escrever os passos para o futuro de todos nós...</p>
    </div>
  </div>
</section>



<div class="row">
<div class="container">
  <div class="col s12 m9 l10">
    

  
    <% @courses.each do |course| %>

      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <%= image_tag course.image.url(:medium), class: 'img' %>
            <span class="card-title"><%= truncate(course.name, length: 30, separator: '') %></span>
            <%= link_to 'add', course, class: 'btn-floating btn-small halfway-fab waves-effect waves-light red material-icons' %>
          </div>
          <div class="card-content">
            <p><%= course.price %> Kz</p>
            <p><%= truncate(course.description, length: 40, separator: '') %></p>
          </div>
        </div>
      </div>

    <% end %>  
    
    <div class="row">
      <div class="container">
        <div class="col s12 m12 l12">
          <div class="center-align">
            <%= will_paginate @courses %>
          </div>
        </div>
      </div>
    </div>
  
    


  </div>
</div>
<div class="col hide-on-small-only m3 l2">
  <ul class="section table-of-contents">
    <h6 class="category">Categorias</h6>
    <% @categories.each do |category| %> 
      <li><%= link_to category.name, courses_category_path(category) %></li>
    <% end %>
  </ul>
  <%= will_paginate @categories %>
</div>
</div>

<%= render 'shared/footer' %>