<%= render 'shared/header' %>

<section>
  <div class="parallax-container">
    <div class="parallax">
      <%= image_tag 'background.jpg', class: '' %>
    </div>
  </div>

  <div class="section white">
    <div class="row container">
      <h4 class="header">Inscreva-te</h4>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
</section>



<div class="row">
<div class="container">
  <div class="col s12 m9 l10">
    

  
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'curso-redes.jpg', class: 'img' %>
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    

    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'curso-redes.jpg', class: 'img' %>
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'curso-redes.jpg', class: 'img' %>
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'curso-redes.jpg', class: 'img' %>
          <span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>

    <div class="row mb2">
      <div class="container">
        <div class="col s12 m12 l12">
          <ul class="pagination center-align">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="col hide-on-small-only m3 l2">
  <ul class="section table-of-contents">
    <h6 class="category">Categorias</h6>
    <% @categories.each do |category| %> 
      <li><a href="#introduction"><%= category.name %></a></li>
    <% end %>
    <%= will_paginate @categories %>
  </ul>
</div>
</div>

<%= render 'shared/footer' %>