<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classcourse.name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @classcourse.period %>
</p>

<p>
  <strong>Available:</strong>
  <%= @classcourse.available %>
</p>

<p>
  <strong>Course:</strong>
  <%= @classcourse.course.name %>
</p>

<p>
  <strong>Former:</strong>
  <%= @classcourse.former.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @classcourse.description %>
</p>

<%= link_to 'Edit', edit_classcourse_path(@classcourse) %> |
<%= link_to 'Back', classcourses_path %>
