<section class="edit-show-course">
        <div class="row">
          <div class="">
            <div class="col s12 m4 offset-m2 l3 offset-l3"">
              <p id="notice"><%= notice %></p>

              <p>
                <strong>Name:</strong>
                <%= @subscription.name %>
              </p>

              <p>
                <strong>Phone number:</strong>
                <%= @subscription.phone_number %>
              </p>

              <p>
                <strong>Email:</strong>
                <%= @subscription.email %>
              </p>

              <p>
                <strong>Literary habilitation:</strong>
                <%= @subscription.literary_habilitation %>
              </p>

              <p>
                <strong>Address:</strong>
                <%= @subscription.address %>
              </p>

              <p>
                <strong>Classcourse:</strong>
                <%= @subscription.classcourse.name %>
              </p>

              <p>
                <strong>Description:</strong>
                <%= @subscription.description %>
              </p>

              <%= link_to 'Editar', edit_subscription_path(@subscription) %>
            </div>
          </div>
        </div>
      </div>
