  <section class="edit-show-course">
        <div class="row">
          <div class="">
            <div class="col s12 m4 offset-m2 l3 offset-l3"">
              <p>
                <%= image_tag @course.image.url(:medium) %>
              </p>
            </div>
            <div class="col s12 m4 l3">

            
            
                <h5>
                  <%= @course.name %>
                </h5>


                <p  class="divider">
                  <strong>Priço:</strong>
                  <%= @course.price %> Kzs
                </p>

                <p>
                  <strong>Categoria do curso:</strong>
                  <%= @course.category.name %>
                </p>

                <p>
                  <strong>Descrição:</strong>
                  <%= @course.description %>
                </p>
            
                <%= link_to 'Inscrever', subscription_course_path(@course), class: '' %>
                  
            </div>
            
      </div>
    </section>
    <%= render 'shared/footer' %>
    